@model Product

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        @*<img src="@Model.ImageUrl" alt="" />*@
        <div class="caption">

            <h3>
                <a asp-controller="Products" asp-action="Details" asp-route-productId="@Model.ProductId">@Model.ProductName</a>
            </h3>

            <p>@Model.ProductDisc</p>

            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
<<<<<<< HEAD
                <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@Model.ProductId">
=======
<<<<<<< HEAD
                <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@Model.ProductId">
=======
                <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCarts" asp-action="AddToShoppingCart" asp-route-productId="@Model.ProductId">
>>>>>>> f59acac8d55b8772f369c689cbacb105318e8a3a
>>>>>>> 89dfc6c724e9a8493a70b7d55b5cf46b63d3eb62
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>